<app-page-header [title]="pageTitle" />

<div class="mt-4 space-y-6">
    <!-- Filters -->
    <div class="flex items-center justify-between gap-4">
        <mat-form-field appearance="outline">
            <!-- <mat-label>Search</mat-label> -->
            <input matInput placeholder="Name, Email, Phone" [(ngModel)]="searchQuery">
        </mat-form-field>

        <div class="flex items-center gap-4">
            <mat-form-field appearance="outline" class="max-w-32">
                <!-- <mat-label>Status</mat-label> -->
                <mat-select [(ngModel)]="filterStatus">
                    <mat-option value="">All</mat-option>
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="pending">Pending</mat-option>
                    <mat-option value="blocked">Blocked</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="max-w-32">
                <!-- <mat-label>Service Category</mat-label> -->
                <mat-select [(ngModel)]="filterCategory">
                    <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="max-w-32">
                <!-- <mat-label>City</mat-label> -->
                <input matInput [(ngModel)]="filterCity">
            </mat-form-field>

            <button mat-raised-button color="primary" class="rounded-xl shadow-md h-12">
                <mat-icon class="mr-2">person_add</mat-icon>
                Add Provider
            </button>
        </div>
    </div>

    <!-- Table -->
    <div class="bg-white rounded-xl shadow overflow-x-auto">
        <table mat-table [dataSource]="providers" class="min-w-full">
            <!-- Columns -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let provider">{{ provider.name }}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let provider">{{ provider.category }}</td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let provider">{{ provider.address.street + ", " + provider.address.city + ", "
                    + provider.address.state + ", " + provider.address.zipCode}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let provider">
                    <span [ngClass]="{
            'text-green-600': provider.status === 'active',
            'text-yellow-600': provider.status === 'pending',
            'text-red-600': provider.status === 'blocked'
          }">{{ provider.status | titlecase }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef>Rating</th>
                <td mat-cell *matCellDef="let provider">{{ provider.rating }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let p">
                    <button mat-icon-button color="primary" (click)="view(p)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="edit(p)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="block(p)">
                        <mat-icon>block</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
    </div>

    <!-- Pagination -->
    <mat-paginator [length]="total" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" (page)="onPageChange($event)">
    </mat-paginator>
</div>